# Enter the URL of your Plex server
PLEX_BASEURL=""  # Example: "http://192.168.1.100:32400"
PLEX_TOKEN=""    # Example: "your-plex-token"

# JELLYFIN
JELLYFIN_BASEURL="http://jellyfin.example:8096"
JELLYFIN_TOKEN="YOUR_JELLYFIN_API_KEY"
JELLYFIN_USER_ID="YOUR_JELLYFIN_USER_ID"

# SONARR & RADARR
RADARR_URL="http://radarr.example:7878"
SONARR_URL="http://sonarr.example:8989"
RADARR_API_KEY="YOUR_RADARR_API_KEY"
SONARR_API_KEY="YOUR_SONARR_API_KEY"
DAYS_AHEAD=7
RADARR_SONARR_LOGO="plexlogo.png"

# TMDB (needed for Sonarr/Radarr/TMDB features)
TMDB_BASE_URL="https://api.themoviedb.org/3"
TMDB_IMG_BASE="https://image.tmdb.org/t/p/original"
TMDB_BEARER_TOKEN=""
TMDB_LANGUAGE="en-US"

# TRAKT
TRAKT_RADARR_API_KEY=""
TRAKT_USERNAME=""
TRAKT_LISTNAME=""
